/*** variables code ***/
$primary:#9356DC;
$secondary:#FF79DA;
$tertiary:#99E2D0;
/*** variables code ***/


/*** Mixin code ***/
@mixin text_crop {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/*** Mixin code ***/


/*** Keyframe code ***/
@keyframes apparition {
    from {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}


@keyframes spin {
    0% {
        transform: rotate(0);
        color: $primary;
    }

    50% {
        color: $tertiary;
    }

    100% {
        transform: rotate(25deg);
        color: $primary;
    }
}



@keyframes spin-revert {
    0% {

        color: $primary;
    }

    50% {
        color: $tertiary;
    }

    100% {

        color: $primary;
    }
}



@keyframes loading {
    0% {
        visibility: visible;
    }

    100% {
        visibility: visible;
    }
}
/*** Keyframes code ***/










/*** header code common to all pages *****/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;

    a {
        text-decoration: none;
        position: absolute;
        left: 20px;
        color: rgba(53, 53, 53, 1);
    }

    .logo {
        width: 165px;
        height: 45px;
    }
}
/***** header code common to all pages *****/













/****** homepage code *******/
.body_html {
    width: 100%;
}

.home_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main {

    width: 100%;

    .loader {
        background-color: #fff;
        position: fixed;
        z-index: 1000;
        visibility: hidden;
        animation: loading 5s;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin-top: -68px;

        .loader-elements {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 35px;

            .loader-element-1 {
                i {
                    font-size: 12em;
                    color: #ffffff;
                    animation: spin 3s 100 ease-in alternate-reverse;
                }
            }

            .loader-element-2 {

                i {
                    font-size: 7em;
                    color: black;
                    animation: spin-revert 3s 100 ease-in alternate-reverse;
                    position: relative;
                    top: 55px;
                    left: -45px;
                }
            }
        }

        .loader-text {
            font-family: 'Shrikhand';
            font-style: italic;
            font-size: 2.75em;
            font-weight: 100;
        }
    }


    .index_location {
        background-color: #EAEAEA;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        height: 50px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;

        #localisation {
            background-color: rgba(234, 234, 234, 1);
            border: none;
            margin-left: 0px;
            width: 140px;

            &:hover {
                border-radius: 1px;
                border: #EAEAEA 2px solid;
            }

        }
    }

    .index_explorer {
        background-color: #F6F6F6;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-sizing: border-box;
        padding-bottom: 15px;

        h1 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            box-sizing: border-box;
            text-align: center;

            /*** for desktop ***/
            @media screen and (min-width: 1024px) {
                font-size: 40px;
            }
            /*** for desktop ***/

        }

        p {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            text-align: center;
        }

        .explorer_btn {
            text-decoration: none;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: white;
            width: 220px;
            height: 52px;
            background: linear-gradient(193.33deg, $primary -11.44%, $secondary 123.93%);
            border-radius: 25px;
            box-sizing: border-box;
            padding-top: 14px;
            padding-left: 22px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            transition: filter 1.2s ease, box-shadow 1.2s ease;

            &:hover {
                filter: brightness(1.2);
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
            }
        }
    }

    .working {
        height: 400px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-items: center;

        /* for desktop*/
        @media screen and (min-width: 1024px) {
            height: 250px;
        }
        /* for desktop*/


        h2 {

            box-sizing: border-box;
            margin-bottom: 15px;
            width: 325px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;

            /* for desktop*/
            @media screen and (min-width: 1024px) {
                width: 1024px;
            }
            /* for desktop*/

        }

        .steps {
            display: flex;
            flex-direction: column;
            gap: 20px;

            /* for desktop*/
            @media screen and (min-width: 1024px) {
                flex-direction: row;
            }
            /* for desktop*/


            .step {
                box-sizing: border-box;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                background-color: #F7F7F7;
                height: 66px;
                width: 318px;
                border-radius: 20px;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

                &:hover>i {
                    color: $primary;
                }

                span {
                    color: white;
                    font-size: 14px;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    background-color: $primary;
                    box-sizing: border-box;
                    padding-left: 6px;
                    padding-top: 3px;
                    margin-left: -58px;
                }

                p {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    width: 190px;
                    margin-left: -40px;
                   
                }

                i {
                    position: relative;
                    left: -20px;
                    color: #7E7E7E;
                    font-size: 18px;
                }
            }   
        }
    }

    .restaurants_list {

        height: 1200px;
        background-color: #F6F6F6;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 13px;
        align-items: center;
        padding-top: 40px;

        /* for desktop*/
        @media screen and (min-width: 1024px) {
            height: 690px;
        }
        /* for desktop*/

        h2 {
            width: 330px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;

            /* for desktop*/
            @media screen and (min-width: 1024px) {
                width: 1024px;
            }
            /* for desktop*/

        }

        .card_list {
            display: flex;
            flex-direction: column;
            gap: 15px;

            /* for desktop*/
            @media screen and (min-width: 1024px) {
                width: 1024px;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 48px 120px;
            }
            /* for desktop*/

            article {
                height: 237px;

                /* for desktop*/
                @media screen and (min-width: 1024px) {
                    width: 450px;
                }

                /* for desktop*/

                .fa-regular {
                    position: relative;
                    top: -57px;
                    left: 290px;
                    font-size: 24px;

                    /* for desktop*/
                    @media screen and (min-width: 1024px) {
                        position: relative;
                        top: -57px;
                        left: 408px;
                    }

                    /* for desktop*/

                }

                .fa-solid {
                    position: relative;
                    top: -57px;
                    left: 262px;
                    font-size: 24px;
                    background: linear-gradient(193.33deg, $primary -11.44%, $secondary 123.93%);
                    background-clip: text;
                    color: transparent;
                    opacity: 0;
                    transition: opacity 500ms ease;

                    /* for desktop*/
                    @media screen and (min-width: 1024px) {
                        position: relative;
                        top: -57px;
                        left: 380px;
                    }

                    /* for desktop*/

                    &:hover {
                        opacity: 1;
                    }
                }

                a {
                    display: flex;
                    flex-direction: column;
                    height: 237px;
                    width: 330px;
                    background-color: white;
                    border-radius: 20px;
                    text-decoration: none;
                    box-sizing: border-box;

                    /* for desktop*/
                    @media screen and (min-width: 1024px) {
                        width: 450px;
                    }

                    /* for desktop*/

                    .new {
                        text-decoration: none;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        color: #008766;
                        position: relative;
                        top: -250px;
                        left: 240px;
                        width: 80px;
                        display: block;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        text-align: center;
                        background-color: #99E2D0;
                        border-radius: 3px;

                        /* for desktop*/
                        @media screen and (min-width: 1024px) {
                            position: relative;
                            top: -250px;
                            left: 353px;
                        }

                        /* for desktop*/

                    }

                    img {
                        object-fit: cover;
                        height: 160px;
                        border-radius: 20px 20px 0px 0px;
                        margin-bottom: 15px;
                    }

                    .text_description {
                        margin-left: 15px;
                        color: black;
                        position: relative;
                        top: -18px;
                        display: flex;
                        flex-direction: column;
                        height: 80px;
                        box-sizing: border-box;


                        h3 {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                        }

                        p {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 17px;
                            position: relative;
                            top: -30px
                        }
                    }
                }
            }
        }
    }
}

/****** homepage code*******/













/******** others pages code ********/

.html_pages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .presentation_pic {
        width: 100%;
        height: 275px;

        img {
            width: 100%;
            height: 275px;
            object-fit: cover;
        }
    }

    .menu {
        background-color: rgba(246, 246, 246, 1);
        border-radius: 40px 40px 0px 0px;
        padding-top: 10px;
        width: 100%;
        margin-top: -50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 38px;
        height: 1300px;
        box-sizing: border-box;

        /*** for desktop ***/
        @media screen and (min-width: 1024px) {
            width: 1024px;
        }

        /*** for desktop ***/

        h1 {
            font-family: 'shrikhand';
            font-style: normal;
            font-size: 28px;
            font-weight: 400;
            margin-bottom: -120px;
            width: 335px;

            /*** for desktop ***/
            @media (min-width: 1024px) {
                position: relative;
                left: -20px;
            }

            /*** for desktop ***/

        }



        .fa-regular {
            position: relative;
            top: 46px;
            left: 145px;
            font-size: 24px;
            width: 30px;

            /* for desktop*/
            @media screen and (min-width: 1024px) {
                position: relative;
                top: 50px;
                left: 136px;
            }

            /* for desktop*/
        }

        .fa-solid {
            position: relative;
            top: -16px;
            left: 147px;
            font-size: 24px;
            background: linear-gradient(193.33deg, $primary -11.44%, $secondary 123.93%);
            background-clip: text;
            color: transparent;
            opacity: 0;
            transition: opacity 500ms ease;
            width: 35px;

            /* for desktop*/
            @media screen and (min-width: 1024px) {
                position: relative;
                top: -12px;
                left: 138.5px;
            }

            /* for desktop*/

            &:hover {
                opacity: 1;
            }
        }

        #apparition1 {
            opacity: 1;
            animation-name: apparition;
            animation-duration: 2000ms;
        }

        #apparition2 {
            opacity: 1;
            animation-name: apparition;
            animation-duration: 4000ms;
        }

        #apparition3 {
            opacity: 1;
            animation-name: apparition;
            animation-duration: 5500ms;
        }




        .sub-menu {
            box-sizing: border-box;
            padding-left: 12px;
            display: flex;
            flex-direction: column;

            /*** for desktop ***/
            @media screen and (min-width: 1024px) {
                width: 640px;
                align-items: center;
            }

            /*** for desktop ***/

            h2 {
                font-family: 'roboto';
                font-weight: 300;
                font-size: 16px;
                color: black;
                border-bottom: $tertiary 3px solid;
                height: 22px;
                width: 44px;

                /*** for desktop ***/
                @media (min-width: 1024px) {
                    position: relative;
                    left: -293px;
                }

                /*** for desktop ***/

            }

            .dishes {

                width: 350px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                /*** for desktop ***/
                @media (min-width: 1024px) {
                    width: 640px;
                    /*** for desktop ***/

                }

                .dish {
                    background-color: white;
                    border-radius: 15px;
                    width: 349px;
                    height: 78px;
                    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;

                    /*** for desktop ***/
                    @media (min-width:1024px) {
                        width: 620px;
                    }

                    /*** for desktop ***/

                    &:hover>.dish-confirm {
                        transform: translateX(-100%);
                    }

                    &:hover>p {
                        width: 60%;
                    }

                    &:hover>h3 {
                        width: 65%;
                    }

                    h3 {
                        font-size: 18px;
                        font-family: 'roboto';
                        font-weight: 500;
                        height: 22px;
                        width: 280px;
                        padding-top: 1px;
                        padding-bottom: 22px;
                        padding-left: 15px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        margin-top: 12px;
                        transition: width 800ms ease-in-out;
                    }

                    p {
                        font-family: 'roboto';
                        font-size: 15px;
                        font-weight: 300;
                        padding-top: 1px;
                        padding-bottom: 22px;
                        padding-left: 15px;
                        width: 280px;
                        height: 20px;
                        position: relative;
                        top: -28px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        transition: width 800ms ease-in-out;
                    }


                    .dish-confirm {
                        width: 32px;
                        height: 70px;
                        background-color: $tertiary;
                        position: relative;
                        top: -108px;
                        left: 350px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        transition: all 800ms ease-in-out;
                        border: $tertiary solid 20px;

                        /*** for desktop ***/
                        @media screen and (min-width: 1024px) {
                            position: relative;
                            left: 620px;
                        }

                        /*** for desktop ***/

                        .fa-circle-check {
                            color: $tertiary;
                            background-color: white;
                            font-size: 24px;
                            border-radius: 50%;
                            position: relative;
                            top: 8px;
                            left: 0px;
                            width: fit-content;
                            height: fit-content;
                        }

                        span {
                            position: relative;
                            left: -63px;
                            font-family: 'roboto';
                            font-size: 15px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

    button {
        font-size: 16px;
        font-family: 'roboto';
        font-weight: 500;
        color: white;
        width: 186px;
        height: 50px;
        border: #c235bbc5;
        background: linear-gradient(193.33deg, $primary -11.44%, $secondary 123.93%);
        border-radius: 25px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        transition: filter 1.2s ease, box-shadow 1.2s ease;

        &:hover {
            filter: brightness(1.2);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        }
    }
}

/****** others pages code ******/







/******* footer code common to all pages *******/
footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    height: 190px;
    padding-top: 25px;
    gap: 5px;
    padding-left: 25px;
    width: 100%;
    box-sizing: border-box;

    /* for desktop */
    @media (min-width: 1024px) {
        flex-direction: row-reverse;
        box-sizing: border-box;
        padding-right: 90px;
        gap: 5%;
        height: 114px;
        padding-top: 60px;
        width: 100%;
    }

    /* for desktop */


    h2 {
        font-family: 'shrikhand';
        font-style: italic;
        font-size: 18px;
        font-weight: 400;
        color: white;
        width: fit-content;

        /* for desktop */
        @media (min-width: 1024px) {
            position: relative;
            top: -20px;
            left: 40px;
        }

        /* for desktop */
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 8px;

        /* for desktop */
        @media (min-width: 1024px) {
            flex-direction: row;
            justify-content: flex-end;
            box-sizing: border-box;
            gap: 5%;
            width: 86%;
        }

        /* for desktop*/

        a {
            text-decoration: none;
            color: white;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
        }

        .links__icone {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: flex-start;

            i {
                font-size: 14px;
                color: #ffffff;
            }
        }
    }
}


/******* footer code common to all pages *******/