main {
    .index_location {
        background-color: #EAEAEA;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        height: 50px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
    }
    .index_explorer {
        background-color: #F6F6F6;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-sizing: border-box;
        padding-bottom: 15px;
        h1 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            box-sizing: border-box;
            text-align: center;
        }
        p {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            text-align: center;
        }
        .explorer_btn {
            text-decoration: none;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: white;
            width: 220px;
            height: 52px;
            background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            border-radius: 25px;
            box-sizing: border-box;
            padding-top: 14px;
            padding-left: 22px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            transition: filter 1.2s ease,box-shadow 1.2s ease;
            &:hover {
                filter: brightness(1.2);
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);    
            }   
        }
    }
    
    .working {
        height: 400px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-items: center;
        h2 {
            width: 100%;
            box-sizing: border-box;
            padding-left: 20px;
            margin-bottom: 15px;
        }
        span {
            color: white;
            font-size: 12px;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background-color: #9356DC;
            box-sizing: border-box;
            padding-left: 6px;
            padding-top: 3px;
            margin-left: -15%;
            
        }
        .choose {
            box-sizing: border-box;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: #F7F7F7;
            height: 66px;
            width: 318px;
            border-radius: 20px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                position: relative;
                left: -25px;
            }
            
            i {
                position: relative;
                left: -10px;
                color: #7E7E7E;

            }

        }
        .compose {
            box-sizing: border-box;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: #F7F7F7;
            height: 66px;
            width: 318px;
            border-radius: 20px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                position: relative;
                left: -35px;
            }
            i {
                position: relative;
                left: -15px;
                color: #7E7E7E;
            }
        }
        .enjoy {
            box-sizing: border-box;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: #F7F7F7;
            height: 66px;
            width: 318px;
            border-radius: 20px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                position: relative;
                left: -28px;
            }
            i {
                position: relative;
                left: -10px;
                color: #9356DC;
            }
        }
    }
    
    .restaurants_list {
        height: 1270px;
        background-color: #F6F6F6;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding-top: 40px;

        h2 {
            width: 100%;
            padding-left: 45px;
        }

        .fa-regular {
            position: relative;
            top: -57px;
            left: 290px;
            font-size: 24px;
                
        }

        .fa-solid {
            position: relative;
            top: -57px;
            left: 262px;
            font-size: 24px;
            background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            background-clip: text;
           -webkit-background-clip: text;
            color: transparent;
            opacity: 0;
            transition: opacity 500ms ease;
            &:hover {
                opacity: 1;

            }   
        }

    
        a {
            display: flex;
            flex-direction: column;
            height: 237px;
            width: 330px;
            background-color: white;
            border-radius: 20px;
            text-decoration: none;
            img {
                object-fit:cover; 
                height: 160px;
                border-radius: 20px 20px 0px 0px;
                margin-bottom: 15px;
            }
            
            .text_description {
                margin-left: 15px;
                color: black;
                h3 {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                }

                p {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 17px;
                }
            }
        }

    }

}
